#!/usr/bin/make -f

PACKAGE=$(shell sed -e '2,$$d' -e 's/ .*//' debian/changelog)
VERSION=$(shell sed -e '2,$$d' -e 's/^[^(]*(\([^-]*\)-.*)*)*/\1/' debian/changelog)
LANGS=en
FORMATS=rpt
TMPDIR=tmp
# or . if you prefer


%:
	dh $@

override_dh_install:
	dh_install
	# excluding this way is simpler:
	find $(CURDIR)/debian/asterisk-core-sounds-*/usr/share/asterisk \
		\( -name '[CL]*' -o -name '*.txt' \) -exec rm -f \{\} \;

override_dh_installchangelogs:
	dh_installchangelogs

print-version:
	@echo languages: $(LANGS)
	@echo formats: $(FORMATS)
	@echo package: $(PACKAGE)
	@echo version: $(VERSION)

